<html>
<head><title>${appName}</title></head>
<body>


<p>Nous sommes le <span th:text="${#temporals.format(localDateTime, 'dd-MM-yyyy')}">date du jour</span></p>
<a href="/">index</a> 

</br>

</br>
<a href="/saison">saison</a> 
</br>
</br>
   <span th:if="${#temporals.dayOfWeekName(localDateTime).equals('samedi') || #temporals.dayOfWeekName(localDateTime).equals('dimanche') }">Week-End !</span>
<span th:unless="${#temporals.dayOfWeekName(localDateTime).equals('samedi') || #temporals.dayOfWeekName(localDateTime).equals('dimanche') }">Au boulot !</span>
   
</br>
</br>



<td th:switch="${saison}">
<span th:case="'hiver'"><img src="https://www.almanac.com/sites/default/files/styles/primary_image_in_article/public/image_nodes/winter-solstice.jpg?itok=9iEebU2H"></span>
<span th:case="'printemps'"><img src="https://www.almanac.com/sites/default/files/styles/primary_image_in_article/public/image_nodes/spring-276014_1920.jpg?itok=K-w3JOQu"></span>
<span th:case="'ete'"><img src="https://inboxpros.com/wp-content/uploads/2016/06/summer-768x432.jpg"></span>
<span th:case="'automne'"><img src="https://img.purch.com/w/660/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzAyMC8wMjIvb3JpZ2luYWwvNC1hdXR1bW4tY2l0eS1wYXJrLmpwZw=="></span>

</td>
<br/>
<br/> 

</body>
</html>

  <!--<tr th:each="saison: ${saison}"> 
 <td th:text="${saison.current}"> <img src="https://www.almanac.com/sites/default/files/styles/primary_image_in_article/public/image_nodes/winter-solstice.jpg?itok=9iEebU2H"></td>
 <td th:text="${saison.current}"> <img src="https://www.almanac.com/sites/default/files/styles/primary_image_in_article/public/image_nodes/spring-276014_1920.jpg?itok=K-w3JOQu"></td>
 <td th:text="${saison.current}"> <img src="https://inboxpros.com/wp-content/uploads/2016/06/summer-768x432.jpg"></td>
 <td th:text="${saison.current}"> <img src="https://img.purch.com/w/660/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzAyMC8wMjIvb3JpZ2luYWwvNC1hdXR1bW4tY2l0eS1wYXJrLmpwZw=="></td>
 
 
 </tr>
   
   
 <!--  <span img src="url"></span>
   <span img src="url"></span>-->
   
   
   <!-- <td></td>


<td th:switch="${#lists.size(teacher.courses)}">
    <span th:case="'0'">NO COURSES YET!</span>
    <span th:case="'1'" th:text="${teacher.courses[0]}"></span>
    <div th:case="*">
        <div th:each="course:${teacher.courses}" th:text="${course}"/>
    </div>
</td>

<td> <div th:switch="${temporals.monthOfYearName}"> 
                            <span th:case="${#dates.monthName(date)}.equals('fevrier')>hiver</span>
                            <span th:case="${#dates.monthName(date)}.equals('fevrier')>ete</span></div></td>-->
                            
                            
                            
                            
<!--  
<table>
<tr>
<td th:switch="${saison}">
<div th:case="'Winter'" th:text="Winter"><br/><img src="https://www.almanac.com/sites/default/files/styles/primary_image_in_article/public/image_nodes/winter-solstice.jpg?itok=9iEebU2H"></div>
<span th:case="'Spring'" th:text="Spring"><br/><img src="https://www.almanac.com/sites/default/files/styles/primary_image_in_article/public/image_nodes/spring-276014_1920.jpg?itok=K-w3JOQu"></span>
<span th:case="'Summer'" th:text="Summer"><br/><img src="https://inboxpros.com/wp-content/uploads/2016/06/summer-768x432.jpg"></span>
<span th:case="'Autumn'" th:text="Autumn"><br/><img src="https://img.purch.com/w/660/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzAyMC8wMjIvb3JpZ2luYWwvNC1hdXR1bW4tY2l0eS1wYXJrLmpwZw=="></span>
</td>
</tr>
</table>

<br/>
<br/>
<br/>-->
