<html>
<head><title>${appName}</title></head>
<body>
<h1>Bonjour !</h1>
<p>Bienvenue sur <span th:text="${appName}">Notre application</span></p>
<a href="/date_heure">date</a> 
</br>
<a href="/saison">saison</a> 
</body>
</html>